.header
    height: 100vh
    width: 100%
    background-color: black
    position: relative
    &__text
        font-family: Futura PT Cond BOLD
        font-size: 9rem
        width: 90rem
        color: transparent
        background: -webkit-radial-gradient(#06FFE2, #2454F0, #B301D7)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        text-align: center
    &__p
        width: 55rem
        font-size: 3rem
        text-align: center
    &__main
        display: flex
        align-items: center
        flex-direction: column
    &__back
        background-color: rgba(43, 42, 42, 0.5)
        height: inherit
        weight: inherit
        display: flex
        align-items: center
        justify-content: center
    &__circle
        position: absolute
        &_big
            background-color: black
            width: 20rem
            height: 20rem
            border-radius: 50%
            background-color: rgba(40, 201, 212, 0.3)
            filter: blur(30px)
            top: 10%
            left: 15%